<aside>
    <ul>
        <li class="px-4 my-4 text-xl text-center">
            <a class="linkIcon" routerLink="/backoffice/student" routerLinkActive="route-active">
              <img class="icon" src="../../../../assets/svg/student.svg"/>
              Student
            </a>
          </li>
          <li class="px-4 my-4 text-xl text-center">
            <a class="linkIcon" routerLink="/backoffice/classe" routerLinkActive="route-active">
              <img class="icon" src="../assets/svg/classe.svg"/>
              Classe
            </a>
          </li>
    </ul>
</aside>