<header class="h1 flex justify-between bg-white items-center text-sky-700 p-2 bold mx-auto border-b-4 border-sky-400">
  <div class="bold text-3xl">
    App School
  </div>
  <div class="links">
    <ul class="flex text-xl justify-evenly items-center">
      <li class="px-4">
          <a  class="linkIcon" class="text-cyan-400 flex items-center"  routerLink="/profil">
            <mat-icon color="primary">person</mat-icon>
            Profil
          </a>
        </li>
        <li class="px-4" >
          <button mat-button (click) ="logout()" color="primary" title="Logout">
            <mat-icon>logout</mat-icon>
          </button>
        </li>
    </ul>
  </div>
</header>
