<header class="h1 flex justify-between bg-white items-center shadow-lg text-sky-700 p-2 bold  mx-auto">
  <div class="bold text-3xl">
    App School
  </div>
  <div class="links">
    <ul class="flex text-xl justify-evenly">
      <li class="px-4">
        <a class="linkIcon" routerLink="/backoffice" >
          <mat-icon class="mr-2">dashboard</mat-icon>
          Dashboard
        </a>
      </li>
      <li class="px-4">
        <a class="linkIcon" routerLink="/frontoffice/login"  routerLinkActive="route-active">
          <mat-icon class="mr-2">login</mat-icon>
          login
        </a>
      </li>
      <li class="px-4">
        <a class="linkIcon" routerLink="/frontoffice/register" routerLinkActive="route-active">
          <mat-icon mr-2>how_to_reg</mat-icon>
          register
        </a>
      </li>
      <li class="px-4">
        <a class="linkIcon" routerLink="/frontoffice/image" routerLinkActive="route-active">
          <mat-icon mr-2>send</mat-icon>
          Image
        </a>
      </li>
      <li class="px-4">
        <a class="linkIcon" routerLink="/frontoffice/chart" routerLinkActive="route-active">
          <mat-icon mr-2>rebase_edit</mat-icon>
          Charts
        </a>
      </li>
    </ul>
  </div>
</header>
