/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.linkIcon{
  display: flex;
  align-items: center;
}
.linkIcon .icon{
  height: 15px;
  display: inline;
  padding-right: 5px;
}
button:disabled{
  color:#38BDF8 !important;
  border: 2px solid #38BDF8;
  cursor:not-allowed;
  background: transparent !important;
}
.route-active{
  border-bottom: 3px solid #38bdf8;
  transition: 0.6s all;
  padding: 0px 4px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
